html {
  font-size: 16px;
  font-family: "Cabin", sans-serif;
}

.header {
  height: 4rem;
  background-color: white;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0rem;
  z-index: 5;
}

.header img {
  margin-left: 1.5rem;
  height: 5rem;
  margin-top: 0.5rem;
}

.header .school {
  display: inline-flex;
  margin-left: 1rem;
  flex: 1;
  color: rgb(128, 128, 128);
  font-size: 2rem;
}

#colmar {
  color: rgb(80,80,80);
  font-weight: bold;
}

.header ul {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.75rem;
  margin-right: 2rem;
}

.header ul li {
  list-style-type: none;
  margin-left: 1rem;
}

.header a {
  text-decoration: none;
  color: rgb(100, 100, 100);
}

.container1 {
  display: flex;
  background-color: rgb(208,208,208);
  align-items: center;
  width: 100%;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.container1 img {
  width: 100%;
}

#banner {
  margin: 2rem 2.5rem 2rem 1.5rem;
  width: 100%;
}

.right-side {
  color: rgb(64, 64, 64);
  width: 100%;
}

.right-side h1 {
  font-size: 3.75rem;
  width: 100%;
}

.right-side p {
  font-size: 2rem;
  margin-top: 0;
  width: 100%;
}

.right-side h2 {
  background-color: rgb(64, 64, 64);
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 2rem;
}

.right-side h2 a {
  text-decoration: none;
  color: white;
}

.container2 {
  display: flex;
  margin-left: 1.5rem;
  width: 100%;
}

.left-side2 {
  margin-right: 1.5rem;
  width: 100%;
}

#main {
  width: 100%;
  height: auto;
}

#main img {
  width: 100%;
}

.left-side2 h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(64, 64, 64);
}

.left-side2 p {
  color: rgb(128, 128, 128);
}

.right-side2 {
  border-left: 0.5px solid rgb(208, 208, 208);
  width: 100%;
}

.right-side2 h4 {
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(64, 64, 64);
  width: 100%;
}

.right-side2 p {
  color: rgb(128, 128, 128);
  width: 100%;
}

 .box1 {
   display: flex;
   width: 100%;
   padding-bottom: 2rem;
   padding-left: 1rem;
 }

 #orientation-img {
   width: 35%;
 }

 #orientation-img img {
   width: 100%;
 }

 .orientation {
   width: 100%;
   padding-left: 1rem;
 }

.box2 {
  display: flex;
  width: 100%;
  padding-left: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0.5rem;
}

#campus-img {
  width: 35%;
}

#campus-img img {
  width: 100%;
}

.campus {
  width: 100%;
  padding-left: 1rem;
}

.box3 {
  display: flex;
  width: 100%;
  background-color: rgb(208, 208, 208);
  padding-bottom: 1rem;
  padding-left: 1rem;
}

#guest-img {
  margin-top: 2rem;
  width: 35%;
}

#guest-img img {
  width: 100%;
}

.guest {
  width: 100%;
  padding-left: 1rem;
}

.right-side2 a {
  text-decoration: none;
  color: rgb(102, 178, 255);
}

#learning {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: rgb(208, 208, 208);
  width: 100%;
  margin-bottom: 0;
}

.container3 {
  background-color: rgb(208,208,208);
  width: 100%;
  text-align: center;
}

.top-row {
  display: inline-flex;
  padding-left: 1rem;
  margin-bottom: 1rem;
  width: 85%;
}

.box4 {
  background-color: white;
  margin-right: 2rem;
  width: 100%;
  text-align: left;
}
#software img {
  width: 100%;
}

#software {
  width: 100%;
}

.box5 {
  background-color: white;
  margin-right: 2rem;
  width: 100%;
  text-align: left;
}

#computer-art img {
  width: 100%;
}

#computer-art {
  width: 100%;
}

.box6 {
  background-color: white;
  width: 100%;
  text-align: left;
}

#course-design img {
  width: 100%;
}

#course-design {
  width: 100%;
}

.bottom-row {
  display: inline-flex;
  padding-left: 1rem;
  padding-bottom: 2rem;
  width: 85%;
}

.box7 {
  background-color: white;
  margin-right: 2rem;
  width: 100%;
  text-align: left;
}

#data img {
  width: 100%;
}

#data {
  width: 100%;
}

.box8 {
  background-color: white;
  margin-right: 2rem;
  width: 100%;
  text-align: left;
}

#business img {
  width: 100%;
}

#business {
  width: 100%;
}

.box9 {
  background-color: white;
  width: 100%;
  text-align: left;
}

#marketing img {
  width: 100%;
}

#marketing {
  width: 100%;
}

.top-row h5, .bottom-row h5, .top-row p, .bottom-row p {
  color: rgb(128, 128, 128);
  padding-left: 2rem;
  }

.top-row h5, .bottom-row h5 {
    font-size: 1.25rem;
    margin-bottom: 0;
    margin-top: 0;
  }

.top-row h4, .bottom-row h4 {
    padding-top: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: rgb(64, 64, 64);
    padding-left: 2rem;
  }

#thesis {
  background-color: white;
  width: 100%;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.container4 {
  display: flex;
  width: 100%;
}

.video {
  width: 60%;
  margin-right: 1rem;
  margin-left: 1.5rem;
}

.mp4 {
  width: 100%;
}

.mp4 video {
  width: 100%;
  height: auto;
}

.urban {
  width: 100%;
}
.urban h3, .urban p {
  width: 100%;
}

.right-side3 {
}

.right-side3 h4 {
  color: rgb(64, 64, 64);
  font-size: 1.5rem;
}

.right-side3 p {
  color: rgb(128, 128, 128);
}

.fisma {
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  background-color: rgb(208, 208, 208);
}

.design {
  flex-direction: column;
  margin-left: 1rem;
}

#fisma-img {
  width: 35%;
}

#fisma-img img {
  width: 100%;
}

.nowAndThen {
  display: flex;
  margin-left: 1rem;
  padding-top: 1rem;
}

.research {
  flex-direction: column;
  margin-left: 1rem;
}

#nowAndThen-img {
  width: 35%;
}

#nowAndThen-img img {
  width: 100%;
}
