html {
  font-size: 16px;
  font-family: "Cabin", sans-serif;
}

.header {
  height: 4rem;
  background-color: white;
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.header img {
  margin-left: 1.5rem;
  height: 5rem;
}

.header .school {
  display: inline-flex;
  margin-left: 1rem;
  flex: 1;
  color: rgb(128, 128, 128);
  font-size: 2rem;
}

#colmar {
  color: rgb(80,80,80);
  font-weight: bold;
}

.header ul {
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.75rem;
}

.header ul li {
  list-style-type: none;
  margin-left: 1rem;
}

.header a {
  text-decoration: none;
  color: rgb(100, 100, 100);
}
